<div>
  <div class="header gradient">
    <%= image_tag 'cocktail-white.svg', class: 'icon' %>
    <div class="header__title">The drinks searcher</div>
  </div>

  <div class="searcher">
    <div class="searcher__radio">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="simpleSearch" value="simple" checked>
        <label class="form-check-label" for="simpleSearch">Easy search</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="advancedSearch" value="advanced">
        <label class="form-check-label" for="advancedSearch">Recommend me ;)</label>
      </div>
    </div>

    <%= form_tag do %>
      <div class="simple-form">
        <div class="simple-form__input">
          <input class="form-control form-control-lg" type="text" id="name" placeholder="Try a Martini..">
        </div>
        <div class="simple-form__btn">
          <button type="button" class="btn btn-outline-primary btn-lg btn_request">Search</button>
        </div>
      </div>

      <div class="advanced-form" style="display:none;">
				User inputs to search a collection of drinks based on given recommendations.
        <div class="advanced-form__input">
          <label>Min Alcohol Levels: </label>
          <input class="form-control" type="number" min="0" id="alcohol_level"/>
        </div>
        <div class="advanced-form__input">
          <label>Distilled: </label>
          <select class="form-control" id="distilled" >
            <option value="" ></option>
            <option value="true" >Yes</option>
            <option value="false" >No</option>
          </select>
        </div>
        <div class="advanced-form__input">
  				<label>Origin: </label>
  				<select class="form-control" id="origin" >
            <option value="" ></option>
  					<% @origins.each do |origin| %>
  						<option value="<%= origin.origin%>" ><%= origin.origin %></option>
  					<% end %>
  				</select>
        </div>
        <div class="advanced-form__input">
  				<label>Base Ingredients: </label>
  				<select class="form-control" id="base_ingredients">
            <option value="" ></option>
  					<% @base_ingredients.each do |base_ingredient| %>
  						<option value="<%= base_ingredient.base_ingredient %>" ><%= base_ingredient.base_ingredient %></option>
  					<% end %>
  				</select>
        </div>
        <div class="advanced-form__btn" style="padding-top: 10px;">
          <button type="button" class="btn btn-outline-primary btn-lg btn_request">Recommend me </button>
        </div>
      </div>
    <% end %>
  </div>

  <div class="drinks-list">
    <% @drinks.each do |drink| %>
      <div class="card drink-card">
        <%= image_tag drink.image_url, class: 'drink-card__img' %>
        <div class="drink-card__body">
          <h2><%= drink.name %></h2>
          <p><%= drink.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
